<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title th:text="${'Weather Lookup - ' + ((cityName != null) ? (cityName + ' (' + countryName + ')') : 'City Not Found') }" ></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-4">Weather Lookup</h1>
                <form action="/weather" method="get">
                    <div class="mb-2 input-group">
                        <input type="text" class="form-control" name="city" placeholder="Please enter a city">
                        <div class="d-flex justify-content-end">
                            <input type="submit" class="btn btn-primary btn-lg" value="Get Weather">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div th:if="${error} != null">
                    <h4 class="display-4">City Not Found</h4>
                    <em><p th:text="${error}"></p></em>
                </div>

                <div class="details" th:if="${weatherList} != null">

                    <div th:each="weather : ${weatherList}">
                        <h2 class="display-4"><span class="text-muted">Weather Details for</span> <span th:text="${weather.cityName}"></span> (<span th:text="${countryName}"></span><span th:text="${countryFlag}"></span>)</h2>
                        <table class="table table-borderless">
                            <tr>
                                <td rowspan="6">
                                    <img class="img-thumbnail img-fluid rounded-circle w-auto" th:src="${'http://openweathermap.org/img/wn/' + weather.icon + '@4x.png'}" th:alt="${weather.main}">
                                </td>
                                <td class="lead">Description</td>
                                <td class="lead"><strong><span th:text="${weather.main}"></span><strong>, <em><span th:text="${weather.description}"></span></em></td>
                            </tr>
                            <tr>
                                <td class="lead" rowspan="2">Temperature</td>
                                <td class="lead"><span th:text="${weather.temperature + ' &#176;C'}"></span> &nbsp;<em>Feels like</em> <em><strong><span class="h3" th:text="${weather.feelsTemperature + ' &#176;C'}"></span></strong></em></td>
                            </tr>
                            <tr>
                                <td class="lead"><small><span th:text="${weather.minTemperature + ' &#176;C (Low)'}"></span>  &nbsp; <span th:text="${weather.maxTemperature + ' &#176;C (High)'}"></span></small></td>
                            </tr>
                            <tr>
                                <td class="lead">Humidity</td>
                                <td class="lead"><span th:text="${weather.humidity + ' %'}"></span></td>
                            </tr>
                            <tr>
                                <td colspan="2">Current weather data is powered by the <a href="https://openweathermap.org/api">Weather API from OpenWeather</a></td>
                            </tr>
                            <tr th:if="${weather.cached}">
                                <td colspan="2">Results are cached <span th:text="${minutesAgo + ' minutes ago'}"></span> at <span th:text="${resultDate}"></span> </td>
                            </tr>
                        </table>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
